{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/enactus-main-logo.png' %}">
    <title>Enactus || NCA</title>
    <!-- Materialize Icons CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- Glider Style Sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/glider.min.css' %}">
    <!-- main style -->
     <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>


    <!-- Navbar start -->
    <nav id="navbar" class="z-depth-0">
      <div class="nav-wrapper">
        <div class="container">
          <a href="#hero" class="brand-logo left">
            <img src="{% static 'img/Coloured-white logo.png' %}" alt="" class="logo" />
          </a>
          <a href="#nav" class="sidenav-trigger right" data-target="slide-out"
            ><i
              class="material-icons hide-on-large-only hide-on-extra-large-only menu"
              >menu</i
            ></a
          >
          <ul class="hide-on-med-and-down center-align right">
            <li><a href="#hero" class="nav-link center-align">Home</a></li>
            <li><a href="#about" class="nav-link">About</a></li>
            <li><a href="#board" class="nav-link">Board</a></li>
            <li><a href="#history" class="nav-link">History</a></li>
            <li><a href="#event" class="nav-link">Events</a></li>
            <li><a href="#gallery" class="nav-link">Gallery</a></li>
            <li><a href="#contactus" class="nav-link">Contact</a></li>
            <li><a href="#event-modal"
              data-target="rec"
              class="modal-trigger btn rec-cta btn-small {% if not is_recruitment_active.status %} disabled {% endif %}">Recriutment</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>







    <!-- Side nav for mobile -->
    <ul class="sidenav center white-text" id="slide-out">
      <li><a href="#hero" class="nav-link">Home</a></li>
      <li><a href="#about" class="nav-link">About</a></li>
      <li><a href="#board" class="nav-link">Board</a></li>
      <li><a href="#history" class="nav-link">History</a></li>
      <li><a href="#event" class="nav-link">Events</a></li>
      <li><a href="#gallery" class="nav-link">Gallery</a></li>
      <li><a href="#contactus" class="nav-link">Contact</a></li>
      <li>
        <a
        href="#recriut-modal"
        data-target="rec"
        class="modal-trigger rec-cta btn btn-small center"
        >
          Recriutment
      </a>
      </li>
    </ul>

    <!-- Hero Section start -->
    <main id="hero">
      <div class="container center">
        <div class="content">
          <h1 class="hero-header">
            You`re talented somehow !
          </h1>
          <p class="hero-desc">
            Talent is a special gift that someone naturally was born with <br />
            it's the thing that can make you different from anyone on your own
            way.
          </p>
          {% if qr.active %}
          <a href="#event-modal"
              data-target="qr-modal"
              class="modal-trigger btn rec-cta btn-small">{{qr.title}}</a>
          {% endif %}
        </div>
      </div>
      <a href="#about" class="indicator">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </main>
    <!-- About Section start -->
    <section id="about">
      <div class="container center">
        <div class="row">
          <div class="col m4 s12 container">
            <h2 class="about-content white-text">
              <span class="special">EN</span>trepreneurial
            </h2>
            <p class="about-desc white-text">
              Having the perspective to see an opportunity and talent to create
              value from that opportunity
            </p>
          </div>
          <div class="col m4 s12 container">
            <h2 class="about-content white-text">
              <span class="special">ACT</span>ion
            </h2>
            <p class="about-desc white-text">
              The willingness to do something and the commitment to see it
              through even when the outcome is not guaranteed
            </p>
          </div>
          <div class="col m4 s12 container">
            <h2 class="about-content white-text">
              <span class="special">US</span>
            </h2>
            <p class="about-desc white-text">
              a collection of people who see themselves connected in some
              important way, individuals that are part of a greater whole
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Board section start -->
    <section id="board">
      <div class="container center-align white-text">
        <h2 class="board-header">Our Board</h2>
        <div class="row">

          <!-- Start Of the Card -->
          <div class="col s12 m6">
            <div class="card-wrapper">
              <a
                href="#board-modal-past"
                data-target="board-modal-past"
                class="modal-trigger"
              >
                <img
                  src="{{past_season_president.img.url}}"
                  alt=""
                  class="board-image"
                />
              </a>
              <h3 class="card-title">{{past_season_president.first_name}} {{past_season_president.last_name}}</h3>
              <p class="card-content">president</p>
              <p class="card-desc">season {{past_season_president.season}}</p>
            </div>
          </div>
          <!-- End Of The Card -->

          <!-- Delete -->
          <div class="col s12 m6">
            <div class="card-wrapper">
              <a
                href="#board-model"
                data-target="board-modal"
                class="modal-trigger"
              >
                <img
                  src="{{this_season_president.img.url}}"
                  alt=""
                  class="board-image"
                />
              </a>
              <h3 class="card-title">{{this_season_president.first_name}} {{this_season_president.last_name}}</h3>
              <p class="card-content">president</p>
              <p class="card-desc">season 20</p>
            </div>
          </div>
          <!-- Delete -->


        </div>
      </div>
    </section>

    <!-- History section Start -->

    <section id="history">
      <div class="container center-align white-text">
        <h2 class="history-header">
          History
        </h2>
        <div class="row">
          <div class="col sm12 m7">
            <p class="history-desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quia
              voluptatem dolorum quod minus quibusdam quis corrupti amet.
              Placeat vitae fugiat blanditiis repudiandae nulla. Eaque inventore
              nemo voluptatibus iusto deserunt, provident sunt exercitationem
              magni fugiat iure quia molestiae saepe voluptatum officiis veniam?
              Dolorem ad iure ea beatae tenetur qui, quae neque quidem
              repudiandae et, debitis deleniti inventore libero. Distinctio
              delectus, ab optio hic corrupti ipsum totam sunt! Omnis, veritatis
              quam?
            </p>
            <div class="time-line">

              <!-- Start Of Timeline -->
              {% for sum in sum %}
               <!-- Start -->
              <div id="history-mod{{sum.id}}" class="modal" style="background:#00223f;color:#ffc21c;border-radius:15px;padding:20px 0;">
                  <div class="container center-align">
                      <h4 class="modal-header">Season {{sum.season}}</h4>
                      <div class="row">

                        <!-- Start Of President Card -->
                        <div class="col s12 m12 l12">
                          <div class="card-wrapper column">
                            <img
                              src="{{sum.img.url}}"
                              alt=""
                              class="modal-image-large"
                            />
                            <div class="card-content">
                              <p class="card-name">{{sum.title}}</p>
                              <p class="card-title">{{sum.text}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div> <!-- data -->
              <p class="date">
                <span class="special">20{{sum.season}}</span>
                <a href="#history-mod{{sum.id}}" class="modal-trigger before white-text"> View Project in this season</a>
              </p>
              {% endfor %}
              <!-- End Of Timeline -->

              <!-- Delete -->

              <!-- Delete -->

            </div>
          </div>
          <div class="col sm12 m5 history-img">
            <img src="https://via.placeholder.com/250" alt="History" style="width:250px;height:250px"/>
            <div class="overlay"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Event Section Start -->
    <section id="event" class="glider-contain">
      <div class="container">
        <h2 class="event-header">Evnets</h2>
        <button class="glider-prev"><i class="material-icons">chevron_left</i></button>
        <div class="glider" style="overflow-x: hidden;">

          <!-- Start Of The Event  -->

          <div id="slide1" class="container white-text slide" style="background: linear-gradient(to bottom, rgba(0,26,48,0.87), rgba(0,0,0,0.87)),url(
               {{events_1.banner.url}}) no-repeat;">
            <h4 class="event-header-name">{{events_1.title}} form</h4>
            <p class="event-desc">
              {{events_1.text_1}}
            </p>
            <div class="row">
              <div class="col s12 m6 l6">
                <p class="event-time">
                  {{events_1.text_2}}
                </p>
                <p class="event-ticket">
                  {{events_1.text_3}}
                </p>
                <p class="event-contact">
                  {{events_1.text_4}}
                </p>
              </div>
              <div class="col s12 m6 l6 center-align">
                <p class="event-price">
                  ticket price <br />
                  {{events_1.price}} L.E
                </p>
                <p class="event-additional">
                  {{events_1.extra_price}}
                </p>
                <a
                  href="#event-modal"
                  data-target="event-modal"
                  class="modal-trigger event-cta btn btn-small waves-effect pulse {% if not events_1.status %} disabled {% endif %}"
                ><!-- Class disabled for button disable -->
                  Book now
                </a>
              </div>
            </div>
          </div>

          <!-- End OF the Slide -->


          <!-- Delete -->
          <div id="slide2" class="container white-text slide" style="background: linear-gradient(to bottom, rgba(0,26,48,0.87), rgba(0,0,0,0.87)),url(
               {{events_2.banner.url}}) no-repeat;">
            <h4 class="event-header-name">{{events_2.title}}</h4>
            <p class="event-desc">
              {{events_2.text_1}}
            </p>
            <div class="row">
              <div class="col s12 m6 l6">
                <p class="event-time">
                  {{events_2.text_2}}
                </p>
                <p class="event-ticket">
                  {{events_2.text_3}}
                </p>
                <p class="event-contact">
                  {{events_2.text_4}}
                </p>
              </div>
              <div class="col s12 m6 l6 center-align">
                <p class="event-price">
                  ticket price <br />
                  {{events_2.price}} L.E
                </p>
                <p class="event-additional">
                  {{events_2.extra_price}}
                </p>
                <a
                  href="#event-modal"
                  data-target="event-modal"
                  class="modal-trigger event-cta btn btn-small waves-effect pulse {% if not events_2.status %} disabled {% endif %}"
                ><!-- Class disabled for button disable -->
                  Book now
                </a>
              </div>
            </div>
          </div>
          <div id="slide3" class="container white-text slide" style="background: linear-gradient(to bottom, rgba(0,26,48,0.87), rgba(0,0,0,0.87)),url(
               {{events_3.banner.url}}) no-repeat;">
            <h4 class="event-header-name">{{events_3.title}}</h4>
            <p class="event-desc">
              {{events_3.text_1}}
            </p>
            <div class="row">
              <div class="col s12 m6 l6">
                <p class="event-time">
                  {{events_3.text_2}}
                </p>
                <p class="event-ticket">
                  {{events_3.text_3}}
                </p>
                <p class="event-contact">
                  {{events_3.text_4}}
                </p>
              </div>
              <div class="col s12 m6 l6 center-align">
                <p class="event-price">
                  ticket price <br />
                  {{events_3.price}} L.E
                </p>
                <p class="event-additional">
                  {{events_3.extra_price}}
                </p>
                <a
                  href="#event-modal"
                  data-target="event-modal"
                  class="modal-trigger event-cta btn btn-small waves-effect pulse"
                >
                  Book now
                </a>
              </div>
            </div>
          </div>
          <!-- Delete -->


        </div>
        <button class="glider-next"><i class="material-icons">chevron_right</i></button>
      </div>
    </section>

    <!-- Gallery Section Start -->
    <section id="gallery">
      <h2 class="gallery-header center">Gallery</h2>
      <div class="container">
        <div class="row no-gutters">
          <div class="filtering center col s12">
            <div class="filter">
              <span class="active" data-filter="*">All</span>
              <span data-filter=".season19">Season 19</span>
              <span data-filter=".season20">Season 20</span>
              <span data-filter=".season21">Season 21</span>
            </div>
          </div>
          <div class="clear-fix"></div>
          <br>
          <br>

          <div class="gallery" style="margin-top: 30px;">

            <!-- Start of the Gallert season class and photo class -->
            {% for gallery in albums %}
<div class="item col s12 m3 l3 {% if gallery.season == 20 %}season20{%elif gallery.season == 21%}season21{% elif gallery.season == 19 %}season19{% endif %} photo">
              <div class="item-img">
                <img src="{{gallery.cover.url}}" class="responsive-img gallery-img" alt="season18" style="width:250px;height:250px">
                <div class="item-img-overlay">
                  <div class="overlay-info">
                    <p>Enactus | Season {{gallery.season}}</p>
                    <h6>{{gallery.text}}</h6>
                    <a href="{{gallery.cover.url}}" class="popimg" style="width:250px;height:250px">
                      <span class="icon">
                        <i class="material-icons">arrow_forward</i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}
            <!-- End Of the Gallery -->






          </div>
        </div>
      </div>
    </section>

    <!-- Contact Us Section -->
      <section id="contactus">
      <h2 class="gallery-header center">Contact Us</h2>
      <div class="container">
        <div class="row no-gutters center">
          <form method="post">
            {% csrf_token %}
            {{con_form}}
            <button class="btn btn-small waves-effect pulse contactbtn" name="contact_form_sub">Send Now</button>
            </form>
          </div>
          </div>
      </section>


 <!-- Footer section start -->
    <footer id="footer" class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="footer-header">Enactus</h5>
            <p class="footer-desc">
              <div class="contact">
                <i class="fas fa-phone-square-alt"></i> Phone: +20 00 000 000 00
              </div>
              <div class="contact">
                <i class="fas fa-map-marker-alt"></i> address: where is the collage
              </div>
              <div class="contact">
                <i class="fas fa-at"></i> email: enactus-nca@mail.com
              </div>
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="social center white-text">Our social media</h5>
            <div class="row center">
              <a class="col s12 m4" href="https://www.facebook.com"><i class="fab fa-facebook "></i></a>
              <a class="col s12 m4" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
              <a class="col s12 m4" href="https://www.behance.net/"><i class="fab fa-behance"></i></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright foot">
        <div class="container center">
          made by ENACTUS team © 2020 Copyright reserved to <a href="http://www.enactus-nca.org">Enactus NCA</a>
        </div>
      </div>
    </footer>


{% if pop_msg %}
    <script type="text/javascript">
        function codeAddress() {
            Swal.fire('Good job!','Submission successful, Thank You','success');
        }
        window.onload = codeAddress
        </script>

{% endif %}


    <!-- Modals -->
    <!-- Modal for Board -->
    <div id="board-modal" class="modal">
      <div class="container center-align">
        <h4 class="modal-header">Season {{this_season_president.season}}</h4>
        <div class="row">

          <!-- Start Of President Card -->
          <div class="col s12 m12 l12">
            <div class="card-wrapper column">
              <img
                src="{{this_season_president.img.url}}"
                alt=""
                class="modal-image-large"
              />
              <div class="card-content">
                <p class="card-name">{{this_season_president.first_name}} {{this_season_president.last_name}}</p>
                <p class="card-title">president</p>
              </div>
            </div>
          </div>
          <!-- End Of President Card  -->


        </div>
        <div class="row">

          <!-- Start Of Vice President -->
          <div class="col s12 m6 l6">
            <div class="card-wrapper reverse">
              <img
                src="{{this_season_vice_1.img.url}}"
                alt=""
                class="modal-image-med"
              />
              <div class="card-content">
                <p class="card-name">{{this_season_vice_1.first_name}}<br />{{this_season_vice_1.last_name}}</p>
                <p class="card-title">vice president</p>
              </div>
            </div>
          </div>
          <!-- End Of Vice President -->


          <!-- Delete -->
          <div class="col s12 m6 l6">
            <div class="card-wrapper">
              <img
                src="{{this_season_vice_2.img.url}}"
                alt=""
                class="modal-image-med"
              />
              <div class="card-content">
                <p class="card-name">{{this_season_vice_2.first_name}}<br />{{this_season_vice_2.last_name}}</p>
                <p class="card-title">vice president</p>
              </div>
            </div>
          </div>
          <!-- Delete -->


        </div>
        <div class="row">

          <!-- Start Of MultiMedia -->
          <div class="col s12 m3 l3">
            <div class="card-wrapper column">
              <img
                src="{{this_season_multimedia.img.url}}"
                alt=""
                class="modal-image-small"
              />
              <div class="card-content">
                <p class="card-name-small">{{this_season_multimedia.first_name}}<br />{{this_season_multimedia.last_name}}</p>
                <p class="card-title-small">multimedia director</p>
              </div>
            </div>
          </div>
          <!-- End Of Multi Media -->


          <!-- Delete -->
          <div class="col s12 m3 l3">
            <div class="card-wrapper column">
              <img
                src="{{this_season_er.img.url}}"
                alt=""
                class="modal-image-small"
              />
              <div class="card-content">
                <p class="card-name-small">{{this_season_er.first_name}}<br />{{this_season_er.last_name}}</p>
                <p class="card-title-small">er director</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3 l3">
            <div class="card-wrapper column">
              <img
                src="{{this_season_hr.img.url}}"
                alt=""
                class="modal-image-small"
              />
              <div class="card-content">
                <p class="card-name-small">{{this_season_hr.first_name}}<br />{{this_season_hr.last_name}}</p>
                <p class="card-title-small">hr director</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3 l3">
            <div class="card-wrapper column">
              <img
                src="{{this_season_project.img.url}}"
                alt=""
                class="modal-image-small"
              />
              <div class="card-content">
                <p class="card-name-small">{{this_season_project.first_name}}<br />{{this_season_project.last_name}}</p>
                <p class="card-title-small">project director</p>
              </div>
            </div>
          </div>
          <!-- Delete -->


          <!-- Last One Of media -->
          <div class="col s12 m12 l12">
            <div class="card-wrapper column">
              <img
                src="{{this_season_presentation.img.url}}"
                alt=""
                class="modal-image-small"
              />
              <div class="card-content">
                <p class="card-name-small">{{this_season_presentation.first_name}}<br />{{this_season_presentation.last_name}}</p>
                <p class="card-title-small">presentation director</p>
              </div>
            </div>
          </div>
          <!-- LAst one Of Media -->
        </div>
      </div>
    </div>




<!-- Past Season Team -->

    <div id="board-modal-past" class="modal" style="background:#00223f;color:#ffc21c;border-radius:15px;padding:20px 0;">
      <div class="container center-align">
        <h4 class="modal-header">Season {{past_season_president.season}}</h4>
        <div class="row">

          <!-- Start Of President Card -->
          <div class="col s12 m12 l12">
            <div class="card-wrapper column">
              <img
                src="{{past_season_president.img.url}}"
                alt=""
                class="modal-image-large"
              />
              <div class="card-content">
                <p class="card-name">{{past_season_president.first_name}} {{past_season_president.last_name}}</p>
                <p class="card-title">president</p>
              </div>
            </div>
          </div>
          <!-- End Of President Card  -->


        </div>
        <div class="row">

          <!-- Start Of Vice President -->
          <div class="col s12 m6 l6">
            <div class="card-wrapper reverse">
              <img
                src="{{past_season_vice_1.img.url}}"
                alt=""
                class="modal-image-med" style="width: 100px;height: 100px;"
              />
              <div class="card-content">
                <p class="card-name">{{past_season_vice_1.first_name}}<br />{{past_season_vice_1.last_name}}</p>
                <p class="card-title">vice president</p>
              </div>
            </div>
          </div>
          <!-- End Of Vice President -->


          <!-- Delete -->
          <div class="col s12 m6 l6">
            <div class="card-wrapper">
              <img
                src="{{past_season_vice_2.img.url}}"
                alt=""
                class="modal-image-med" style="width: 100px;height: 100px;"
              />
              <div class="card-content">
                <p class="card-name">{{past_season_vice_2.first_name}}<br />{{past_season_vice_2.last_name}}</p>
                <p class="card-title">vice president</p>
              </div>
            </div>
          </div>
          <!-- Delete -->


        </div>
        <div class="row">

          <!-- Start Of MultiMedia -->
          <div class="col s12 m3 l3">
            <div class="card-wrapper column">
              <img
                src="{{past_season_multimedia.img.url}}"
                alt=""
                class="modal-image-small" style="width: 80px;height: 80px;"
              />
              <div class="card-content">
                <p class="card-name-small">{{past_season_multimedia.first_name}}<br />{{past_season_multimedia.last_name}}</p>
                <p class="card-title-small">multimedia director</p>
              </div>
            </div>
          </div>
          <!-- End Of Multi Media -->


          <!-- Delete -->
          <div class="col s12 m3 l3">
            <div class="card-wrapper column">
              <img
                src="{{past_season_er.img.url}}"
                alt=""
                class="modal-image-small" style="width: 80px;height: 80px;"
              />
              <div class="card-content">
                <p class="card-name-small">{{past_season_er.first_name}}<br />{{past_season_er.last_name}}</p>
                <p class="card-title-small">er director</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3 l3">
            <div class="card-wrapper column">
              <img
                src="{{past_season_hr.img.url}}"
                alt=""
                class="modal-image-small" style="width: 80px;height: 80px;"
              />
              <div class="card-content">
                <p class="card-name-small">{{past_season_hr.first_name}}<br />{{past_season_hr.last_name}}</p>
                <p class="card-title-small">multimedia director</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3 l3">
            <div class="card-wrapper column">
              <img
                src="{{past_season_project.img.url}}"
                alt=""
                class="modal-image-small" style="width: 80px;height: 80px;"
              />
              <div class="card-content">
                <p class="card-name-small">{{past_season_project.first_name}}<br />{{past_season_project.last_name}}</p>
                <p class="card-title-small">project director</p>
              </div>
            </div>
          </div>
          <!-- Delete -->


          <!-- Last One Of media -->
          <div class="col s12 m12 l12">
            <div class="card-wrapper column">
              <img
                src="{{past_season_presentation.img.url}}"
                alt=""
                class="modal-image-small" style="width: 80px;height: 80px;"
              />
              <div class="card-content">
                <p class="card-name-small">{{past_season_presentation.first_name}}<br />{{past_season_presentation.last_name}}</p>
                <p class="card-title-small">presentation director</p>
              </div>
            </div>
          </div>
          <!-- LAst one Of Media -->
        </div>
      </div>
    </div>
<!-- End Past Season Team -->





    <!-- Form for Event -->
    <div id="event-modal" class="modal">
      <div class="container">
        <div class="row">

          <form method="post" class="col s12">
            {% csrf_token %}




              {{ form }}


            <button type="submit" class="btn btn-small waves-effect">Submit</button>



</form>
        </div>
        </div>
      </div>
    </div>

    <!-- rec -->
       <!-- Modal Trigger -->


  <!-- Modal Structure -->
  <div id="rec" class="modal" style="background: #00223f;border-radius: 15px;">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <form method="post">
            {% csrf_token %}
            {{r_form}}
            <button type="submit" class="btn btn-small waves-effect" name="r_form_sub">Submit</button>

          </form>

        </div>
      </div>
    </div>

  </div>



<!-- Modal  QR Structure -->
  <div id="qr-modal" class="modal" style="background: #00223f;border-radius: 15px;">
    <div class="modal-content">
      <div class="container">
        <div class="row center">
          <img src="{{qr.qr_img.url}}" style="width:300px;height:300px"/>

        </div>
      </div>
    </div>

  </div>


    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'JS/materialize.js' %}"></script>
    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="{% static 'JS/magnific.min.js' %}"></script>
    <!-- IsoTope Plugin minified js -->
    <script src="{% static 'JS/isotope.pkgd.min.js' %}"></script>
    <!-- Glider Js plugin -->
    <script src="{% static 'JS/glider.min.js' %}"></script>
    <!-- GSAP scrolltrigger -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <!-- GSAP plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <!-- Main JS of site -->
    <script src="{% static 'JS/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  </body>
</html>
